.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 193, 229, 0.986);
  padding: 50px;
  border-radius: 23px;
}
#root {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title {
  color: rgb(156 39 176);
}
.buttonBox {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}